body{
    background-image: url(https://images.pexels.com/photos/2883049/pexels-photo-2883049.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 50px;
    text-align: center;
    background: rgb(34, 0, 128);
    color: rgb(81, 221, 0);
    font-size: 30px;
  }


ul {
    padding: 75px;
    text-align: left;
    background: rgb(0, 128, 90);
    color: white;
    font-size: 30px;
}